@model IEnumerable<CV_templateDotNet.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Projeler</h1>

<p>
    <a asp-action="Create">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedTeknologies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GithubUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedTeknologies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GithubUrl)
            </td>
            <td>
                    @if(item.Images!=null)
                    {
                        @foreach(var photoPath in item.Images)
                        {
                            <a asp-controller="Home" asp-action="ImageEdit" asp-route-id="@photoPath.Id">
 |
                            <img src="~/@photoPath.CvImagePath" alt="proje fotoğrafları" width="300" />
                           </a>
                        }
                    }
                
            </td>


            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Düzenle</a> <br />
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detay</a> <br />
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
